@font-face {
    font-family: "Inter";
    src: url("$lib/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html,
body {
    font-family: "Inter", sans-serif;
    color: #222;
    font-size: 18px;
}