:root {
    --color-green: #17833d;
    --color-green-darken-1: #126b31;
    --color-green-darken-2: #195B30;
    --color-grey: #e1e1e1;
    --color-grey-darken-1: #D9D9D9;
    --color-bg: #222;
    --color-bg-darken-1: #101010;
    --color-text-dark: #222;
    --color-text-light: #fff;
    --color-bg-light: #fff;
    --color-error: #ff2b4b;
}

@font-face {
    font-family: "Inter";
    src: url("$lib/assets/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Material Symbols";
    font-style: normal;
    font-weight: 100 700;
    font-display: block;
    src: url("$lib/assets/icons/MaterialSymbolsRounded[FILL,GRAD,opsz,wght].woff2") format("woff2");
}

html,
body {
    font-family: "Inter", sans-serif;
    color: var(--color-text-dark);
    font-size: 18px;
}

p {
    margin: 0;
}

h3 {
    font-weight: 700;
    margin: 0;
    font-size: 22px;
}

.icon {
    font-family: "Material Symbols";
    font-size: 24px;
    line-height: 24px;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.fs14 {
    font-size: 14px;
}

a {
    color: var(--color-green)
}

a:visited {
    color: var(--color-green-darken-2)
}